<div class='container'>
  <div class="row text-center">
    <div class="col-sm-8">
      <body class="text-center bg-light">
        <%= form_with url: login_path, scope: :session, local: true do |form| %>
          <%= image_tag 'logos/facebook1.jpg', width: '200px' %>
          <div class='container-fluid'>
            <h1 class="h3 mb-3 font-weight-8px">Please sign in</h1>
            <%= form.label :name, class: "sr-only" %>
            <%= form.text_field :name, class: "form-control", placeholder: "Name" %>

            <%= form.label :email, class: "sr-only" %>
            <%= form.email_field :email, class: "form-control mt-2", placeholder: "Email address" %>

            <%= form.label :password, class: "sr-only" %>
            <%= form.password_field :password, class: "form-control mt-2", placeholder: "Password" %>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <%= form.submit "Log in", class: "btn btn-lg btn-primary btn-block"%>
            <p class="mt-5 mb-3 text-muted">© 2006-2020</p>
          </div>
        <%end%>
      </body>
    </div>
    <div class="col-sm-4">
      <%= form_with model: @user, local: true do |form| %>
        <% if @user.errors.any? %>
          <div class="container ">
            <div class="alert alert-error bg-warning mt-4 mb-12">
              <h4>Warning!</h4>
              <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= image_tag 'logos/facebook1.jpg', width: '150px' %>
        <div class='container-fluid'>
          <h1 class="h3 mb-3 font-weight-8px">Sign up</h1>
          <div class="container">
            <%= form.file_field :avatar %>
            <%= form.label :name, class: "sr-only" %>
            <%= form.text_field :name, class: "form-control mt-4", placeholder: "Name" %>
            <%= form.label :email, class: "sr-only" %>
            <%= form.email_field :email, class: "form-control mt-4", placeholder: "Email address" %>
            <%= form.label :password, class: "sr-only" %>
            <%= form.password_field :password, class: "form-control mt-4", placeholder: "Password" %>
            <%= form.label :password_confirmation, class: "sr-only" %>
            <%= form.password_field :password_confirmation, class: "form-control mt-4", placeholder: "Confirm password" %>
          </div>
          <br>
          <br>
          <%= form.submit "Sign in", class: "btn btn-lg btn-primary btn-block"%>
        </div>
      <%end%>
    </div>
  </div>
</div>
